<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ block "title" . }}{{ end }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/3.0.2/timeago.min.js"></script>
</head>
<body>
{{ partial "header.html" . }}
<main role="main" id="main" class="container">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
{{ partial "timeago.html" . }}
{{ partial "nav.html" . }}
</body>
</html>
