@import url('https://fonts.googleapis.com/css?family=Kreon|Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    background: #FFFFFF;
    color: #1E1E1E;
}

header {
    background: #313131;
    color: #FFFFFF;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 3em 2em 1em 2em;
}

.org-logos-container {
    display: none;
}

a, a:visited {
    color: #313131;
}

a:focus {
    outline: 0.1em solid;
    text-decoration: none;     
}

h1, h2, h3 {
    font-family: 'Kreon', serif;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
}

h1 {
    font-size: 1.9em;
    color: #FFF;
}

img {
    height: auto;
    max-width: 100%;
}

h2 {
    font-size: 1.7em;
    margin-bottom: 1em;
}

.skip-link {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    position: fixed;
    top: -200px;
    font-size: 1.5em;
    margin-top: 1em;
    padding: 0.3em;
}

.skip-link:focus {
    top: 0;
}

a.skip-link:visited {
    color: #FFFFFF;
}

header .wrapper {
    padding: 1em 0 2em 0;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3em;
    max-width: 90%;
    padding-bottom: 1em;
    text-align: center;
    margin: 0 auto;
}

header img {
    width: 220px;
    height: auto;
    display: block;
    margin: 4em auto 0 auto;
}

nav ul {
    display: none;
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
    padding: 4em 0;
    z-index: 1;
    position: absolute;
    top: 1.3em;
    width: 100%;
    background: #313131;
}

nav li {
    margin-bottom: 1em;
    line-height: 3em;
}

nav a, nav a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:focus {
    outline: 0.1em solid #FFCF70;
    border-bottom: none;
}

nav .current {
    border-bottom: 6px solid #FFCF70;
}

button {
    position: absolute;
    border: none;
    background: transparent;
    color: #fff;
    display: block;
}

#nav-toggle {
    position: absolute;
    right: 1.3em;
    top: 1.3em;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -10px; 
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 100ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

nav ul.active {
    display: block;
}

.home-intro-image {
    display: none;
}

.home-features {
    background: #FFCF70;
}

.home-features-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    text-align: center;
}

.home-features-items > div {
    margin-bottom: 20px;
    flex: 1 50%;
}

.home-features-items h2 {
    padding-bottom: 1em;
    width: 100%;
}

.icon {
    height: 40px;
}

.home-cta {
    padding-top: 1em;
    padding-bottom: 3em;
    background-color: #5080C1;
    color: #FFFFFF;
}

.home-cta-request li {
    color: #EAF7FE;
    margin-bottom: 0.5em;
}

.home-cta-request span {
    color: #FFFFFF;
}

.home-cta-form {
    padding-top: 2em;
}

input, label {
    display: block;
}

label {
    padding-left: 0.5em;
    font-size: 0.8em;
    color: #EAF7FE;
}

input, .button {
    border: none;
    border-radius: 1em;
}

input {
    margin-top: 0.3em;
    padding: 1em;
    width: 220px;
}

.button {
    width: 150px;
    margin-top: 1em;
    padding: 1.2em 2.5em;
    background: #EF6572;
    color: #1E1E1E;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    background: #FF9466;
}

.button:active {
    background: #F9703E;
}

.home-news {
    background: linear-gradient(to top, transparent, 85%, #313131), url(../images/lightning-bg.svg);
    background-size: 200px;
    color: #FFFFFF;
}

.home-news h2 {
    text-align: center;
    margin: 0;
    padding: 1em 1em 0.3em 1em;
}

.home-news-item {
    background: #FFFFFF;
    color: #1E1E1E;
    border: none;
    border-radius: 0.5em;
    padding: 5%;
    margin: 4% 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.home-news-item span {
    align-self: flex-end;
    margin-right: 2%;
}

.timestamp {
    color: #6D6D6D;
    font-size: 0.85em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #3A3A3A;
    color: #EDEDED;
    border-top: solid #5C5C5C;
}

footer .wrapper {
    border-top: 1em;
    border-top-color: #5C5C5C;
}

footer a, footer a:visited {
    color: #EDEDED;
}

.social-media-logos-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1.9em;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-media-logo {
    width: 35px;
    height: auto;
}

.org-logo {
    width: 150px;
    height: auto;
}

.blog .wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 3em 2em;
}

.blog-index .wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.blog h1, .blog-index h1 {
    color: #1E1E1E;
}

.blog h2 {
    padding-top: 3em;
}

.blog h3 {
    color: #4A494A;
    font-size: 1.5em;
    padding: 1em 0 0.5em 0;
}

.blog img {
    padding: 1.5em 0;
}

.blog em {
    padding-right: 0.5em;
}

.blog li {
    margin-top: 0.4em;
}

.blog li:first-child {
    margin-top: 0;
}

.blog-index h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5em;
}

.indented {
    padding: 1em 0 0 1.5em;
    margin: 0;
}

.suggestions, .reflections {
    padding: 0 2em 3em 2em;
}

.reflections {
    background: #5080c1;
    color: #FFFFFF;
}

.suggestions {
    background: #FCD183;
}

@media screen and (max-width: 499px) {
    footer > .wrapper {
        padding-bottom: 3em;
    }
}

@media screen and (min-width: 500px) {
    .wrapper {
        padding: 4em 4em;
    }

    header img {
        width: 210px;
        height: auto;
    }

    .home-header {
        width: 334px;
        height: auto;
    }

    header h1 {
        font-size: 2.5em;
    }

    header h2 {
        max-width: 440px;
        font-weight: bold;
    }

    .home-long-intro > .wrapper {
        padding-top: 0;
        padding-bottom: 4em;
    }

    .home-features-items {
        flex-direction: row;
    }

    .home-news {
        background-size: 600px;
    }

    .home-news h2 {
        padding: 1em 1em 0.3em 1em;
    }

    .blog-posts {
        width: 80%;
        margin: 0 auto 1.5em auto; 
    }

    .indented {
        padding: 1em 0 0 3em;
    }

    .social-media-logos-container {
        width: 50%;
    }
}

@media (min-width: 700px) {
    header img {
        margin: 0 auto;
    }

    nav ul {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
    }

    nav button {
        display: none;
    }

    nav {
        padding-left: 0;
    }

    nav li {
        display: inline-block;
        margin-right: 1em;
        line-height: 0;
    }

    .social-media-logos-container {
        width: 40%;
    }
}

@media (min-width: 800px) {
    .social-media-logos-container {
        width: 25%;
        margin: 0;
    }
}

@media (min-width: 900px) {
    .collapsible-container {
        display: flex;
        justify-content: space-between;
    }

    .home-short-intro p:first-child {
        margin-top: 0;
    }

    .home-intro-text {
        flex-basis: 60%;
    }

    .home-intro-image {
        flex-basis: auto;
        display: block;
    }

    .home-cta-request, .home-cta-form, footer > .wrapper > .collapsible-container > p {
        flex-basis: 42%;
    }

    .home-cta-form {
        padding-top: 0;
    }

    .home-news-item {
        margin: 4% 23% 4% 23%;
    }

    .org-logos-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 2em;
        align-items: center;
    }

    /* OCADU logo is taller than others */
    .org-logos-container a:nth-child(2) img {
        height: 100px;
    }

    .blog-posts {
        flex-direction: row;
        justify-content: center;
    }
    
    .blog-posts-titles {
        flex-basis: 80%;
    }

    .blog-index span {
        width: 20%;
    }

    .social-media-logos-container {
        width: 20%;
    }
}

@media screen and (min-width: 1000px) {
    header .wrapper {
        padding: 1em 0 3em 0;
    }

    header h1 {
        font-size: 3em;
    }

    .home-short-intro > .wrapper, .home-long-intro > .wrapper {
        width: 60%;
    }

    .home-short-intro .wrapper {
        padding-bottom: 6em;
    }

    .home-short-intro p:first-child {
        padding-bottom: 1em;
    }

    .home-long-intro > .wrapper {
        padding-bottom: 5em;
    }

    .home-features h2 {
        padding-bottom: 2em;
        text-align: center;
    }

    .home-cta {
        padding-top: 2em;
        padding-bottom: 1.5em;
    }

    input {
        width: 300px;
    }
}
