<footer>
    <div class="wrapper">
        <div class="social-media-logos-container">
            <a href="https://twitter.com/codelearncreate?lang=en" target="_blank"><img class="social-media-logo" alt="Twitter" src="/images/icon-twitter.svg" /></a>
            <a href="https://www.facebook.com/codelearncreate/" target="_blank"><img class="social-media-logo" alt="Facebook" src="/images/icon-facebook.svg" /></a>
            <a href="https://www.instagram.com/codelearncreate/?hl=en" target="_blank"><img class="social-media-logo" alt="Instagram" src="/images/icon-instagram.svg" /></a>
        </div>
        <div class="collapsible-container">
            <p>Coding to Learn and Create is led by the <a href="https://idrc.ocadu.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="https://www.ocadu.ca/" target="_blank">OCAD University</a> with <a href="https://www.bridges-canada.com/" target="_blank">Bridges Canada</a>.</p>
            <p>Supported by <a href="https://www.ic.gc.ca/eic/site/118.nsf/eng/home" target="_blank">Innovation, Science and Economic Development Canada</a>’s Accessible Technology Program and the <a href="https://hewlett.org/" target="_blank">Hewlett Foundation</a>.</p>
        </div>
        <div class="org-logos-container">
            <a href="https://idrc.ocadu.ca/" target="_blank"><img class="org-logo" alt="IDRC" src="/images/logo-idrc.svg" /></a>
            <a href="https://www.ocadu.ca/" target="_blank"><img class="org-logo" alt="OCADU" src="/images/logo-ocadu.svg" /></a>
            <a href="https://www.bridges-canada.com/" target="_blank"><img class="org-logo" alt="Bridges Canada" src="/images/logo-bridges.svg" /></a>
            <a href="https://www.ic.gc.ca/eic/site/118.nsf/eng/home" target="_blank"><img class="org-logo" alt="Innovation, Science and Economic Development Canada" src="/images/logo-canada.svg" /></a>
            <a href="https://hewlett.org/" target="_blank"><img class="org-logo" alt="Hewlett Foundation" src="/images/logo-hewlett.svg" /></a>
        </div>
    </div>
</footer>