<footer>
    <div class="wrapper">
        <div class="collapsible-container">
            <p>Coding to Learn and Create is led by the <a href="https://idrc.ocadu.ca/">Inclusive Design Research Centre</a> at <a href="https://www.ocadu.ca/">OCAD University</a> with <a href="https://www.bridges-canada.com/">Bridges Canada</a>.</p>
            <p>Supported by <a href="https://www.ic.gc.ca/eic/site/118.nsf/eng/home">Innovation, Science and Economic Development Canada</a>’s Accessible Technology Program.</p>
        </div>
        <div class="logos-container">
            <a href="https://idrc.ocadu.ca/"><img class="logo" alt="IDRC" src="images/logo-idrc.svg" /></a>
            <a href="https://www.ocadu.ca/"><img class="logo" alt="OCADU" src="images/logo-ocadu.svg" /></a>
            <a href="https://www.bridges-canada.com/"><img class="logo" alt="Bridges Canada" src="images/logo-bridges.svg" /></a>
            <a href="https://www.ic.gc.ca/eic/site/118.nsf/eng/home"><img class="logo" alt="Innovation, Science and Economic Development Canada" src="images/logo-canada.svg" /></a>
        </div>
    </div>
</footer>