<header>
    <div class="wrapper">
        <h1>Coding to Learn and Create</h1>
        <h2>Creating educational coding tools & teaching resources that support <span>learners</span> with <span>disabilities</span></h2>
        <section class="home-short-intro desktop-only">
            <p>We’re designing <strong>educational coding tools</strong> for kids who have been left out of learning—especially those with complex needs. We’re also sharing <strong>free creative activities, lessons, and projects</strong> that help kids learn, develop social and communication skills, and express themselves with code.</p>
        </section>
    </div>
</header>